[Unit]
Description=Chicken Robot
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/python3 -u chickenrobot.py
WorkingDirectory=/home/pi/dev/chickenrobot
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
